body{
    font-family: 'Lucida Grande',Helvetica,Arial,Verdana,Tahoma,sans-serif;
    font-size: 12px;
}

h1{
    padding:0;
    margin:0;
    padding-bottom: 5px;
    font-size: 22px;
}

h2{
    padding:0;
    margin:0;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 18px;
}

a{
    color: #333;
}

a:hover{
    text-decoration: none;
}

#settings, #submissions, .resultsDiv{
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

#submissions{
    
}

.resultsUI{
    border: 1px solid #ccc;
    background-color: #eee;
    padding: 10px;
    margin-bottom: 10px;
}

label{
    margin-right: 5px;
}

.resultsUI input[type=text]{
    margin-right: 5px;
}

.resultsUI .maxResults{
    width: 30px;
    text-align: center;
}

.resultsUI .keywords{
    width: 300px;
}

.saveBox{
    width: 90%;
    display: none;
}

.formIDbox{
    display:none;
}

.fieldControls{
    width: 35px;
}

.fieldControls2{

}

.fieldsTable input[type=text], .settingsTable input[type=text]{
    width: 200px;
    border: 1px solid #ccc;
    padding: 2px;
}

.actionBox{
    display: none;
}

.adminButtons{
    text-align: right;
}

th,td{
    font-size: 12px;
    font-weight: bold;
    text-align: left;
}

.saveMessages{
    color: red;
}

.resultsDiv{
    max-height: 500px;
    overflow: auto;
}

.resultsDiv table{
    width: 100%;
}

.resultsDiv th{
    text-align: left;
}

.resultsDiv td{
    font-weight: normal;
    border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    font-size: 10px;
}

.resultsDiv td:last-child{
    text-align: center;
}

.resultsDiv td:first-child{
    text-align: left;
}

.rowHighlight{
    background-color: #e6e6e6;
}